<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 添加调度的任务bean 配置对应的class-->
    <bean id="myPrintSchedule" class="com.fcs.platform.quzrtz.schedule.MySchedule" />
    <!--配置调度具体执行的方法-->
    <bean id="myPrintDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="myPrintSchedule" />
        <property name="targetMethod" value="doJob" />
        <property name="concurrent" value="false" />
    </bean>
    <!--配置调度执行的触发的时间-->
    <bean id="myPrintTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="myPrintDetail" />
        <property name="cronExpression">
            <!-- 每天早上8点执行任务调度 -->
            <!--<value>0,15,30,45 * * * * ?</value>&lt;!&ndash; 每十五秒执行一次 &ndash;&gt;-->
            <!--<value>0 0/2  * * * ? *</value>&lt;!&ndash; 每两分钟执行一次 &ndash;&gt;-->
            <value>0 0 0/2 * * ? *</value><!-- 每两小时执行一次 -->
        </property>
    </bean>
    <!-- quartz的调度工厂 调度工厂只能有一个，多个调度任务在list中添加 -->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <!-- 所有的调度列表-->
                <ref bean="myPrintTrigger"></ref>
            </list>
        </property>
    </bean>
</beans>