<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fcs.admin.mapper.PermissionMapper">
    <resultMap id="BaseResultMap" type="com.fcs.admin.model.MenuTree">
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="text" property="text" jdbcType="VARCHAR" />
        <result column="iconCls" property="iconCls" jdbcType="VARCHAR" />
        <result column="checked" property="checked" jdbcType="INTEGER" />
        <result column="url" property="url" jdbcType="VARCHAR" />
        <result column="parentId" property="parentId" jdbcType="VARCHAR" />
        <result column="enabled" property="enabled" jdbcType="INTEGER" />
        <result column="createTime" property="createTime" jdbcType="DATE" />
        <result column="updateTime" property="updateTime" jdbcType="DATE" />
        <result column="state" property="state" jdbcType="VARCHAR" />
        <result column="sn" property="sn" jdbcType="INTEGER" />
        <result column="type" property="type" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List">
        id,text,url,parentId,enabled
    </sql>

    <!-- 查询权限路径  过滤器中使用 -->
    <select id="selectPerUrlByUserId" resultType="java.lang.String">
        SELECT url FROM menutree menu RIGHT JOIN
        (SELECT DISTINCT rp.perid FROM role_per rp WHERE EXISTS (
        SELECT 1 FROM user_role ur WHERE ur.userid=#{userId} AND rp.roleid=ur.roleid )) a ON menu.id=a.perid
        WHERE menu.parentId != '0'  and menu.type = 1 ORDER BY sn
    </select>

    <!--按层级查询当前用户的菜单 -->
    <select id="selectMenuByUserId" resultType="com.fcs.admin.model.MenuTree">
        SELECT id, text, url, iconCls FROM menutree menu RIGHT JOIN
        (SELECT DISTINCT rp.perid FROM role_per rp WHERE EXISTS (
        SELECT 1 FROM user_role ur WHERE ur.userid=#{userId} AND rp.roleid=ur.roleid )) a ON menu.id=a.perid
        WHERE  menu.type = 1
        <if test="pid != null">
         and menu.parentId = #{pid}
        </if>
        ORDER BY sn
    </select>

    <!--查询当前用户拥有的所有权限 -->
    <select id="selectPerByUserId" resultType="com.fcs.admin.model.MenuTree">
        SELECT id, text, url, iconCls FROM menutree menu RIGHT JOIN
        (SELECT DISTINCT rp.perid FROM role_per rp WHERE EXISTS (
        SELECT 1 FROM user_role ur WHERE ur.userid=#{userId} AND rp.roleid=ur.roleid )) a ON menu.id=a.perid
        ORDER BY sn
    </select>

    <!--查询当前角色拥有的所有权限
            SELECT id, text, url, iconCls FROM menutree menu RIGHT JOIN
        (SELECT DISTINCT rp.perid FROM role_per rp WHERE EXISTS (
        SELECT 1 FROM user_role ur WHERE ur.userid=#{userId} AND rp.roleid=ur.roleid )) a ON menu.id=a.perid
        ORDER BY sn

         SELECT id, text, url, iconCls FROM menutree menu RIGHT JOIN
        (SELECT DISTINCT rp.perid FROM role_per rp WHERE rp.roleid = #{roleId}) a ON menu.id=a.perid
        ORDER BY sn
    -->
    <select id="getPermissionsByRole" resultType="com.fcs.admin.model.MenuTree">
        SELECT id, text, url, iconCls
        FROM menutree menu
        WHERE  id IN
        (SELECT DISTINCT rp.perid FROM role_per rp WHERE rp.roleid = #{roleId})
        ORDER BY sn
    </select>

    <!--权限管理列表 -->
    <select id="getPermissionList" resultType="com.fcs.admin.model.MenuTree">
        SELECT id, text, url, iconCls ,parentId
        FROM menutree menu
        WHERE menu.enabled = 1  ORDER BY sn
    </select>

    <!-- 根据pid查询所有菜单-->
    <select id="getMenuList" resultType="com.fcs.admin.model.MenuTree">
        SELECT id, text, url, iconCls, parentId
        FROM menutree menu
        WHERE menu.enabled = 1 and menu.parentId = #{pid} and menu.type = #{type}
        ORDER BY sn
    </select>

    <select id="selectById" resultType="com.fcs.admin.model.MenuTree">
        SELECT id, text, url, iconCls, parentId
        FROM menutree menu
        WHERE menu.enabled = 1 and menu.id = #{id}
        ORDER BY sn
    </select>

    <insert id="insert" parameterType="com.fcs.admin.model.MenuTree">
        insert into menutree (id,text,url, parentId,enabled,createTime)
        values (#{id,jdbcType=VARCHAR},
        #{text,jdbcType=VARCHAR},
        #{url,jdbcType=VARCHAR},
        #{parentId,jdbcType=VARCHAR},
        #{enabled,jdbcType=INTEGER},
        #{createTime,jdbcType=DATE}
        )
    </insert>

    <delete id="deleteById" parameterType="java.lang.String">
        delete from
        menutree
        where id = #{id,jdbcType=VARCHAR}
    </delete>

    <update id="update" parameterType="com.fcs.admin.model.MenuTree">
        update menutree
        set text = #{text,jdbcType=VARCHAR},
        url = #{url,jdbcType=VARCHAR},
        parentId = #{parentId,jdbcType=VARCHAR},
        updateTime = #{updateTime,jdbcType=DATE}
        where id = #{id,jdbcType=VARCHAR}
    </update>


</mapper>